.input textarea,
.app{
    width:700px;
}

.input textarea{
    height: 200px;
    border: 2px solid blue;
    color: #122;
    padding: 10px;
    text-align: left;
}

.app{
  margin: 0 auto;
  padding: 50px;
}
